
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}



@media screen and(max-width:700px) {
    .other-blog-content {
        flex-direction: column;
    }
    
}


@media screen and(max-width:700px) {
    .card-blog {
        width: 100%;
    }
    
}

.nav__bar {
    background-color: #22223B;
    display: flex;
    justify-content: space-between;
    color: #F2E9E4;
    align-items: center;
    padding: 10px 9%;
}

.nav__links li,
a {
    text-decoration: none;
    list-style: none;
    color: #F2E9E4;
}

.logo {
    cursor: pointer;
}

.nav__links {
    display: flex;
    flex-flow: row wrap;
    
}

.nav__links li {
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.nav__links li a:hover {
    transition: .3s ease-in-out;
    color: #f5cb5c;
}

@media screen and (max-width:600px) {
    .nav__bar {
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: start;
    }
    
    .nav__links {
        flex-direction: column;
        margin-right: 28px;
        
        
    }
    
    .nav__links li a {
        margin: 10px 0;
        
    }
    
}

.mainblog {
    display: flex;
    flex-flow: row wrap;
    color: #F2E9E4;

}

.side {
    background-color: #C9ADA7;
    border: none;
    flex: 1;
    padding: 1em;


}

.main {

    flex: 3;
    padding: 1em;

    background-color: #4A4E69;

}

@media screen and (max-width: 700px) {
    .mainblog {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}



.image__gallery{
    background-color: #f5cb5c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 115vh;
    row-gap: 0.3em;
    column-gap: 0.3em;
    
}


.item{
    margin: 10px;
}

.item4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
}



@media  screen and (max-width:900px){
    .image__gallery{
        
        display: flex;
        flex-flow: row wrap;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    
    
}
.card__body{
    background-color: rgb(238, 234, 234);
}


.item:hover,.card__blog:hover{
    transition: .3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}